<h1>Welcome to blog post</h1>

<div class="navbar">
  <a href="#home">Home</a>
  <a href="#new">New Blog</a>
  <div class="dropdown">
    <button class="dropbtn">Categories 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Music</a>
      <a href="#">Movies</a>
      <a href="#">Theatre</a>
      <a href="#">Art</a>

    </div>
  </div> 
</div>

<h1 class="listing">Listing All Ideas</h1>

<h1><%= link_to 'New Idea', new_idea_path %></h1>


<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @idea.each do |id| %>
    <tr>
      <td><%= id.title %></td>
      <td><%= id.text %></td>
      <td><%= id.type %></td>
      <td><%= id.labelled %></td>
      <td><%= id.up_rank %></td>
      <td><%= id.down_rank %></td>
      <td><%= id.total_rank %></td>
      <td><%= id.created_at %></td>
      <td><%= link_to 'Show', ideas_path(id) %></td>
    </tr>
  <% end %>
  
<h1><%= link_to 'Back', ideas_path %></h1>
</table>


