<h1 class = title>Welcome to blog post</h1>

<!--beginning of navigation bar-->
<div class="navbar">
  <a href="#home">Home</a>
  <%= link_to 'New Idea', new_idea_path %>
  <div class="dropdown">
    <button class="dropbtn">Categories 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Music</a>
      <a href="#">Movies</a>
      <a href="#">Theatre</a>
      <a href="#">Art</a>
    </div>
  </div> 
</div>
<!--end of navigation bar-->

<h1 class="listing">Listing All Ideas</h1>



<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @idea.each do |id| %>
    <tr>
      <td><%= id.title %></td>
      <td><%= id.text %></td>
      <td><%= id.type %></td>
      <td><%= id.labelled %></td>
      <td><%= id.up_rank %></td>
      <td><%= id.down_rank %></td>
      <td><%= id.total_rank %></td>
      <td><%= id.created_at %></td>
      <td><%= link_to 'Show', ideas_path(id) %></td>
    </tr>
  <% end %>
  
<h1><%= link_to 'Back', ideas_path %></h1>
</table>

<div class = "container">
    <% @idea.each do |id| %>
    <div class = "box">
        <div class = "icon"><i class="fa fa-question"></i></div>
        <div class = "content">
            
            <h3><%= id.title %></h3>
            <p><%= id.text %></p>
            <p><%= id.created_at %></p>
            <p><%= link_to 'Show', ideas_path(id) %> 
            <%= link_to 'Edit', edit_idea_path(id) %>
            <%= link_to 'Destroy',
                                        ideas_path(id),
                                        method: :delete,
                                        data: { confirm: 'Are you sure?' } %></p>
        
        </div>
    </div>
    <% end %>
</div>


