<head>
         <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
</head>

<div class = "menu">
   <%= link_to ideas_path, class: "brand" do %> 
       <div class = "loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span> 
        </div>
        <p id = "loaderp">NUI</p>
    <!--</a>-->
    <% end %>
   <nav>
      <ul>
         <li><%= link_to 'Home', ideas_path %></li>
         <li><%= link_to 'New Idea', new_idea_path %></li>
         <li>
            <a href = "#">Categories</a>
            <ul>
               <li><a href = "#">Music</a></li>
               <li><a href = "#">Movies</a></li>
               <li><a href = "#">Theatre</a></li>
               <li><a href = "#">Art</a></li>
            </ul>
         </li>
      </ul>
   </nav>
</div>       

<section class = "newsection">
<body class = "new-body">    
<h1 class = "newtitle">New Idea</h1>

<%= form_for :idea, url: ideas_path do |f| %>
    <div class = "newform">
       
    <% if @idea.errors.any? %>
        <div id="error_explanation">
        <h2>
            <%= pluralize(@idea.errors.count, "error") %> prohibited
            this article from being saved:
        </h2>
        <ul>
        <% @idea.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
        </div>
    <% end %>

       
        
       <p class = "newlabel"><%= f.label :title %></p>
        <br>
       <p class = "newtitlebox"><%= f.text_field :title, size: "60x12"%></p>
    
    
        <p class = "newlabel"><%= f.label :text %></p>
        <br>
        <p class = "newtextbox"><%= f.text_area :text, size: "60x12" %></p>
   
    
                                 
        <p class = "newlabel"><%= f.label :labelled %></p>
        <br>
        <p class = "newcategories"><%= f.select(:labelled, [["Music"],
                             ["Movies"],
                             ["Theatre"],
                             ["Art"]],{ :prompt => "Category"},
                                 ) %></p>
        

    

        
        
        <%= f.submit "Post Idea"%>
    </p>
    </div>
        
<!--<h1><%= link_to 'Back', ideas_path %></h1>-->
<%end%>
</body>
</section>