<div class = "menu">
   <a href = "#" class="brand">
       <div class = "loader">
            <span></span>
            <span></span>
            <span></span>
            <span></span> 
        </div>
        <p id = "loaderp">NUI</p>
    </a>
   <nav>
      <ul>
         <li><%= link_to 'Home', ideas_path %></li>
         <li><%= link_to 'New Idea', new_idea_path %></li>
         <li>
            <a href = "#">Categories</a>
            <ul>
               <li><a href = "#">Music</a></li>
               <li><a href = "#">Movies</a></li>
               <li><a href = "#">Theatre</a></li>
               <li><a href = "#">Art</a></li>
            </ul>
         </li>
      </ul>
   </nav>
</div>       

<section>
<p>
    <strong>Title</strong>
    <%=@idea.title%>
</p>

<p>
    <strong>Text:</strong>
    <%=@idea.text%>
</p>

<h2>Comments</h2>
<% @idea.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@idea, @idea.comments.build]) do |idea| %>
  <p>
    <%= idea.label :commenter %><br>
    <%= idea.text_field :commenter %>
  </p>
  <p>
    <%= idea.label :body %><br>
    <%= idea.text_area :body %>
  </p>
  <p>
    <%= idea.submit %>
  </p>
<% end %> 


<%= link_to 'Edit', edit_idea_path(@idea) %>
            <%= link_to 'Destroy',
                                        idea_path(@idea),
                                        method: :delete,
                                        data: { confirm: 'Are you sure?' } %>

<%= link_to 'Ideas List', ideas_path %>


<p>
    <strong>Type:</strong>
    <%=@idea.type%>
</p>

<p>
    <strong>label:</strong>
    <%=@idea.labelled%>
</p>

<p>
    <strong>up:</strong>
    <%=@idea.up_rank%>
</p>

<p>
    <strong>down:</strong>
    <%=@idea.down_rank%>
</p>

<p>
    <strong>total:</strong>
    <%=@idea.total_rank%>
</p>

<p>
    <strong>created:</strong>
    <%=@idea.created_at%>
</p>

<p>
    <strong>updated:</strong>
    <%=@idea.updated_at%>
</p>

</section>