<p>
    <strong>Title</strong>
    <%=@idea.title%>
</p>

<p>
    <strong>Text:</strong>
    <%=@idea.text%>
</p>

<p>
    <strong>Type:</strong>
    <%=@idea.type%>
</p>

<p>
    <strong>label:</strong>
    <%=@idea.labelled%>
</p>

<p>
    <strong>up:</strong>
    <%=@idea.up_rank%>
</p>

<p>
    <strong>down:</strong>
    <%=@idea.down_rank%>
</p>

<p>
    <strong>total:</strong>
    <%=@idea.total_rank%>
</p>

<p>
    <strong>created:</strong>
    <%=@idea.created_at%>
</p>

<p>
    <strong>updated:</strong>
    <%=@idea.updated_at%>
</p>