<p>
    <strong>Title</strong>
    <%=@idea.title%>
</p>

<p>
    <strong>Text:</strong>
    <%=@idea.text%>
</p>

<h2>Comments</h2>
<% @idea.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@idea, @idea.comments.build]) do |idea| %>
  <p>
    <%= idea.label :commenter %><br>
    <%= idea.text_field :commenter %>
  </p>
  <p>
    <%= idea.label :body %><br>
    <%= idea.text_area :body %>
  </p>
  <p>
    <%= idea.submit %>
  </p>
<% end %>  

<%= link_to 'Ideas List', ideas_path %>


<p>
    <strong>Type:</strong>
    <%=@idea.type%>
</p>

<p>
    <strong>label:</strong>
    <%=@idea.labelled%>
</p>

<p>
    <strong>up:</strong>
    <%=@idea.up_rank%>
</p>

<p>
    <strong>down:</strong>
    <%=@idea.down_rank%>
</p>

<p>
    <strong>total:</strong>
    <%=@idea.total_rank%>
</p>

<p>
    <strong>created:</strong>
    <%=@idea.created_at%>
</p>

<p>
    <strong>updated:</strong>
    <%=@idea.updated_at%>
</p>